.footer {
    margin-top: 40px;
    padding-bottom: 20px;

    &__inner {
        background: linear-gradient(135deg, var(--color-black-soft) 0%, var(--color-black) 100%);
        border-radius: fluid-type(1200px, 1440px, 7px, 10px);
        padding: 35px 20px 40px;
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        color: var(--color-white);

        &-top {
            gap: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__logo {
        svg {
            width:  fluid-type(768px, 1200px, 134px, 159px);
        }
    }

    &__payment {
        order: 6;
        
        &--pc {
            display: none;
        }
    }

    &__auth-link {
        order: 5;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 14px;

        svg {
            flex-shrink: 0;
        }

        &--pc {
            display: none;
        }
    }

    &__contacts-block {
        display: grid;
        gap: 40px;
    }

    &__contacts {
        order: 2;
        display: flex;
        flex-direction: column;
        gap: 14px;
        align-items: center;
    }

    &__contacts-title {
        display: none;
    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: fluid-type(375px, 768px, 14px, 16px);
        line-height: 100%;

        svg {
            flex-shrink: 0;
        }
    }

    &__social {
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    &__social-label {
        display: none;
    }

    &__social-icons {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    &__columns {
        order: 4;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }

    &__column {
        &-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            cursor: pointer;
            font-weight: 700;
            font-size: 18px;
            color: var(--color-white);
            text-align: center;
        }

        &-list {
            list-style: none;
            padding-top: 25px;
            display: none;
            gap: 20px;

            &.is-open {
                display: grid;
            }

            a {
                font-weight: 500;
                font-size: fluid-type(375px, 768px, 14px, 16px);
                line-height: 100%;
            }
        }
    }

    &__chevron {
        transition: transform 0.3s;
        flex-shrink: 0;

        &--open {
            transform: rotate(180deg);
        }
    }

    &__bottom {
        order: 8;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__links {
        display: grid;
        gap: 20px;
    }

    &__legal {
        font-weight: 500;
        font-size: fluid-type(375px, 768px, 14px, 16px);
    }

    @media (min-width: 768px) {
        padding-bottom: 118px;
    }

    @media (min-width: 1200px) {
        padding-bottom: 30px;

        .container {
            max-width: 100%;
            padding: 0 fluid-type(1200px, 1440px, 10px, 30px);
        }
        
        &__inner {
            padding: fluid-type(1200px, 1440px, 41px, 57px) fluid-type(1200px, 1920px, 40px, 210px) fluid-type(1200px, 1440px, 25px, 30px);
            overflow: hidden;
            
            &-top {
                display: flex;
                gap: fluid-type(1200px, 1920px, 100px, 148px);
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                width: 100%;
            }
        }

        &__logo {
            svg {
                width: fluid-type(1200px, 1920px, 158px, 207px);
            }
        }

        &__brand {
            order: 1;
            display: flex;
            flex-direction: column;
            gap: fluid-type(1200px, 1920px, 30px, 40px);
            flex-shrink: 0;
        }

        &__contacts {
            align-items: flex-start;
            
            &-block {
                flex-shrink: 0;
                order: 3;
                height: max-content;
            }

            &-title {
                display: block;
                text-align: left;
                font-weight: 700;
                font-size: fluid-type(1200px, 1920px, 16px, 20px);
                line-height: 100%;
                padding-bottom: fluid-type(1200px, 1920px, 25px, 35px);
            }

            &-block {
                gap: fluid-type(1200px, 1920px, 30px, 40px);
            }
        }

        &__contact {
            font-size: 14px;
        }

        &__social {
            align-items: flex-start;
            gap: 8px;
            
            &-label {
                display: block;
                text-align: left;
                font-weight: 700;
                font-size: fluid-type(1200px, 1920px, 16px, 20px);
                line-height: 100%;
            }

            &-icons {
                gap: 3px;
            }
        }

        &__columns {
            order: 2;
            display: grid;
            grid-template-columns: auto auto auto;
            gap: fluid-type(1200px, 1920px, 85px, 145px);
        }

        &__column {
            &-list {
                display: grid;
                padding-top: fluid-type(1200px, 1920px, 25px, 35px);
                gap: 0;

                li {
                    width: 100%;
                    text-align: left;
                }

                a {
                    font-size: fluid-type(1200px, 1920px, 14px, 18px);
                    line-height: 178%;
                }
            }

            &-header {
                justify-content: flex-start;
                margin-top: -5px;
            }
        }

        &__chevron {
            display: none;
        }
        
        &__payment {
            display: none;
            order: 2;
            margin-top: auto;

            &--pc {
                display: flex;
            }
        }

        &__auth-link {
            display: none;
            order: 3;

            &--pc {
                display: flex;
            }
        }

        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
            position: relative;
            padding-top: fluid-type(1200px, 1920px, 25px, 30px);

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 100vw;
                top: 0;
                height: 1px;
                background-color: var(--color-white);
            }
        }

        &__legal {
            font-size: fluid-type(1200px, 1920px, 12px, 16px);
        }

        &__links {
            order: 2;
            display: flex;
            line-height: 140%;
            gap: fluid-type(1200px, 1920px, 54px, 66px);
        }

        &__copyright {
            order: 1;
            line-height: 120%;
        }

        &__developer {
            order: 3;
            line-height: 130%;
            text-align: right;
        }
    }
}
