.loyalty-benefits {
    &__list {
        background: var(--color-white);
        border-radius: 5px;
        box-shadow: 1.53px 1.53px 7.64px 0px rgba(0, 0, 0, 0.1);
        padding: fluid-type(375px, 768px, 24px, 50px);
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (min-width: 768px) {
            gap: 55px 133px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            padding-bottom: 70px;
        }

        @media screen and (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: fluid-type(1200px, 1920px, 55px, 92px);
            padding: fluid-type(1200px, 1440px, 30px, 40px);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 14px;
        position: relative;

        &--main {
            --loyalty-benefits-icon-svg: fluid-type(
                1200px,
                1440px,
                68px,
                111px
            );
            flex-direction: column;
            gap: 12px;
            align-items: flex-start;
        }

        @media screen and (min-width: 768px) {
            &:nth-child(odd) {
                &::before {
                    content: '';
                    position: absolute;
                    left: calc(100% + 133px / 2);
                    transform: translateY(-50%);
                    top: 50%;
                    height: 50px;
                    width: 1px;
                    background: #eeeeee;
                }
            }

            &--main {
                flex-direction: row;
                align-items: center;
            }
        }

        @media screen and (min-width: 1200px) {
            &:nth-child(odd) {
                &::before {
                    left: calc(100% + 55px / 2);
                }
            }

            &:not(:last-child) {
                &::before {
                    content: '';
                    position: absolute;
                    left: calc(100% + 55px / 2);
                    transform: translateY(-50%);
                    top: 50%;
                    height: 50px;
                    width: 1px;
                    background: #eeeeee;
                }
            }

            &--main {
                width: fluid-type(1200px, 1440px, 231px, 364px);
            }
        }
    }

    &__icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: var(--loyalty-benefits-icon-svg, 35px);
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__title {
        font-weight: 800;
        font-size: fluid-type(1200px, 1920px, 24px, 32px);
        line-height: 1;
    }

    &__text {
        font-size: fluid-type(1200px, 1920px, 16px, 18px);
        line-height: 130%;
    }
}
