.home-partners {
    &__arrows {
        &--pc {
            display: none;
        }
    }

    &__slider {
        --slider-gap: fluid-type(320px, 768px, 30px, 37px);
        --per-view: 2;
        --grid-cols: 2;
        --grid-rows: 4;
    }

    &__track {
        row-gap: 32px;
    }

    &__item {
        display: flex;
        align-items: center;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    @media screen and (min-width: 768px) {
        &__track {
            row-gap: fluid-type(768px, 1200px, 23px, 34px);
        }

        &__slider {
            --slider-gap: fluid-type(768px, 1200px, 37px, 57px);
            --per-view: 5;
            --grid-cols: 5;
            --grid-rows: 2;
        }
    }
    @media screen and (min-width: 1200px) {
        &__arrows {
            margin-top: 0;

            &--pc {
                display: flex;
            }
        }

        &__track {
            row-gap: fluid-type(1200px, 1440px, 34px, 45px);
        }

        &__slider {
            --slider-gap: fluid-type(1200px, 1440px, 57px, 74px);
        }

        &__header {
            margin-bottom: fluid-type(1200px, 1440px, 45px, 61px);
        }
    }
}
