.article-page-block {
    padding-top: fluid-type(375px, 768px, 25px, 32px);

    @media screen and (min-width: 1200px) {
        padding-top: fluid-type(1200px, 1440px, 32px, 50px);
    }

    &__hero {
        border-radius: 5px;
        overflow: hidden;
        height: fluid-type(375px, 768px, 225px, 308px);
        margin-bottom: fluid-type(375px, 768px, 19px, 32px);

        @media screen and (min-width: 768px) {
            height: fluid-type(768px, 1200px, 308px, 382px);
            margin-bottom: fluid-type(768px, 1200px, 32px, 40px);
        }

        @media screen and (min-width: 1200px) {
            height: fluid-type(1200px, 1440px, 382px, 500px);
        }

        img {
            @media screen and (min-width: 768px) {
                &:nth-child(1) {
                    display: none;
                }
            }

            &:nth-child(2) {
                display: none;

                @media screen and (min-width: 768px) {
                    display: block;
                }
            }
        }
    }

    &__body {
        position: relative;
    }

    &__date {
        font-weight: 500;
        font-size: fluid-type(768px, 1440px, 16px, 20px);
        line-height: 130%;
        margin-bottom: 7px;

        @media screen and (min-width: 768px) {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__title {
        font-weight: 700;
        font-size: fluid-type(375px, 768px, 30px, 32px);
        line-height: 110%;
        margin-bottom: fluid-type(1200px, 1440px, 18px, 24px);
        margin-top: 0;

        @media screen and (min-width: 768px) {
            padding-right: fluid-type(768px, 1200px, 153px, 196px);
            font-size: fluid-type(768px, 1200px, 32px, 42px);
        }

        @media screen and (min-width: 1200px) {
            font-size: fluid-type(1200px, 1440px, 42px, 60px);
            padding-right: fluid-type(1200px, 1440px, 196px, 254px);
        }
    }

    &__content {
        font-size: fluid-type(768px, 1200px, 16px, 18px);
        line-height: 130%;

        :is(h2, h3, h4, h5, h6) {
            margin-top: fluid-type(375px, 768px, 36px, 42px);
            line-height: fluid-type(375px, 768px, 110%, 100%);
            margin-bottom: fluid-type(1200px, 1440px, 18px, 24px);

            @media screen and (min-width: 768px) {
                margin-top: fluid-type(768px, 1200px, 42px, 48px);
            }

            @media screen and (min-width: 1200px) {
                margin-top: fluid-type(1200px, 1440px, 48px, 60px);
            }
        }

        h2 {
            font-size: fluid-type(768px, 1200px, 25px, 32px);
            font-weight: 700;
            line-height: 110%;

            @media screen and (min-width: 1200px) {
                font-size: fluid-type(1200px, 1440px, 32px, 40px);
            }
        }

        h3 {
            font-size: fluid-type(768px, 1200px, 23px, 30px);
            font-weight: 700;
            line-height: 110%;

            @media screen and (min-width: 1200px) {
                font-size: fluid-type(1200px, 1440px, 30px, 38px);
            }
        }

        h4 {
            font-size: fluid-type(768px, 1200px, 21px, 28px);
            font-weight: 700;
            line-height: 110%;

            @media screen and (min-width: 1200px) {
                font-size: fluid-type(1200px, 1440px, 28px, 36px);
            }
        }

        > * {
            margin-bottom: fluid-type(375px, 768px, 18px, 25px);

            @media screen and (min-width: 768px) {
                margin-bottom: fluid-type(768px, 1200px, 25px, 30px);
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__images {
        display: none;
        padding-top: fluid-type(768px, 1200px, 40px, 50px);

        @media screen and (min-width: 768px){
            display: block;
            padding-top: fluid-type(1200px, 1440px, 50px, 60px);

            &-slider {
                --per-view: 2;
                --slider-gap: fluid-type(768px, 1200px, 13px, 20px);
            }
        }
    }

    &__images-arrows {
        margin-top: fluid-type(768px, 1200px, 20px, 26px);
    }

    &__image-wrap {
        border-radius: 5px;
        overflow: hidden;
        height: fluid-type(768px, 1200px, 353px, 540px);

        @media screen and (min-width: 1200px) {
            height: fluid-type(1200px, 1440px, 540px, 710px);
        }
    }

    &__btn {
        margin-top: fluid-type(768px, 1200px, 25px, 32px);
        min-width: 222px;
        padding-left: fluid-type(1200px, 1440px, 20px, 28px);
        padding-right: fluid-type(1200px, 1440px, 20px, 28px);

        @media screen and (min-width: 1200px) {
            margin-top: fluid-type(1200px, 1440px, 32px, 40px);
        }
    }

    &__related-title {
        margin-bottom: 0;
    }

    &__related {
        &-header {
            margin-bottom: fluid-type(375px, 768px, 20px, 30px);
        }
    }
    
    &__related-slider {
        --slider-gap: fluid-type(768px, 1200px, 14px, 18px);
    }

    &__related-arrows--top {
        display: none;
    }

    @media (min-width: 768px) {
        &__related-slider {
            --per-view: 2;
        }
    }

    @media (min-width: 1200px) {

        &__related-slider {
            --per-view: 3;
        }

        &__related {
            &-arrows {
                &--bottom {
                    display: none;
                }
            }
        }
    }
}
