.faq {
    padding-top: fluid-type(375px, 768px, 25px, 32px);

    &__title {
        font-weight: 800;
        margin-top: 0;
        font-size: fluid-type(768px, 1200px, 25px, 32px);
        line-height: 110%;
        margin-bottom: fluid-type(375px, 768px, 32px, 40px);
    }

    &__list {
        border-bottom: 1px solid var(--color-gray-placeholder);
    }

    &__separator {
        height: 1px;
        background: var(--color-gray-placeholder);
    }

    &__question {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        padding: fluid-type(375px, 768px, 22px, 24px) 0;
        font-weight: 700;
        font-size: fluid-type(375px, 768px, 22px, 25px);
        line-height: 100%;
        text-align: left;
    }

    &__icon {
        flex-shrink: 0;
        margin-top: fluid-type(375px, 768px, 2px, 6px);
    }

    &__icon-v {
        transition: transform 0.2s ease;
        transform-box: view-box;
        transform-origin: 9px 12px;
    }

    &__answer-wrap {
        overflow: hidden;
    }

    &__answer {
        font-weight: 500;
        font-size: fluid-type(375px, 768px, 16px, 18px);
        line-height: 130%;
        padding-bottom: fluid-type(375px, 768px, 22px, 24px);
    }

    &__item.is-open &__icon-v {
        transform: rotate(90deg);
    }

    @media screen and (min-width: 768px) {
        &__question {
            font-size: fluid-type(375px, 768px, 25px, 30px);
            line-height: 110%;
        }
    }

    @media screen and (min-width: 1200px) {

        &__title {
            font-size: fluid-type(1200px, 1440px, 32px, 40px);
            line-height: fluid-type(1200px, 1440px, 35px, 40px);
            margin-bottom: fluid-type(1200px, 1440px, 32px, 40px);
        }

        &__question {
            font-size: fluid-type(1200px, 1440px, 30px, 32px);
            line-height: 35px;
            padding: fluid-type(1200px, 1440px, 23px, 25px) 0 fluid-type(1200px, 1440px, 22px, 24px);
        }

        &__icon {
            margin-top: fluid-type(1200px, 1440px, 4px, 6px);
        }

        &__answer {
            margin-top: fluid-type(1200px, 1440px, 26px, 30px);
            padding-bottom: fluid-type(1200px, 1440px, 22px, 24px);
        }
    }
}
