.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 82px;
    z-index: 100;
    box-shadow: 0 -9px 9px 0 rgba(0, 0, 0, 0.15);
    background: var(--gradient-black);
    padding: 13px 22px 22px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        color: var(--color-white);

        &:hover {
            color: var(--color-white);
        }
    }

    &__icon {
        width: 27px;
        color: inherit;
    }

    &__label {
        font-family: var(--font-helvetica-neue);
        font-size: 14px;
        line-height: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .mobile-nav {
        display: flex;
    }
}
