.catalog-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 50px;

    &__pages {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__page,
    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border-radius: 5px;
        background: var(--color-white);
        border: none;
        color: var(--color-black);
        font-family: var(--font-manrope);
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        transition: background 0.2s ease, color 0.2s ease;

        &--active {
            background: var(--gradient-black);
            color: var(--color-white);
            font-weight: 500;
            cursor: default;
        }

        &--dots {
            background: var(--color-white);
            color: var(--color-black);
            cursor: default;
            letter-spacing: 3.6px;
            font-size: 14px;

            &:hover {
                background: var(--color-white);
                color: var(--color-black);
            }
        }
    }

    &__arrow {
        & svg {
            width: 20px;
            height: 20px;
        }
    }

    @media (min-width: 1100px) {
        &__pages {
            gap: 10px;
            width: 396px;
            justify-content: center;
        }

        &__page,
        &__arrow {
            width: 48px;
            height: 48px;
            font-size: 18px;
        }
    }
}
