.home-categories {
    &__grid {
        gap: 10px;
        display: grid;
    }

    &__card {
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
        background: var(--gradient-white);
        display: flex;
        align-items: center;
        gap: 10px;
        min-height: fluid-type(320px, 768px, 77px, 154px);
        border-radius: 7px;
        padding: 20px 20px 20px fluid-type(320px, 768px, 81px, 162px);
        position: relative;

        &-body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 10px;
        }

        &-tag {
            display: none;
        }

        &-image {
            position: absolute;
            top: 0;
            height: 100%;
            width: fluid-type(320px, 768px, 72px, 144px);
            flex-shrink: 0;
            left: 0;
            padding: 12px 0 12px 8px;

            img {
                object-fit: contain;
            }
        }

        &-name {
            font-weight: 800;
            font-size: 16px;
            line-height: 100%;
            text-wrap: balance;
        }
    }

    @media screen and (min-width: 768px) {
        &__grid {
            grid-template-columns: repeat(4, 1fr);
            gap: fluid-type(768px, 1200px, 12px, 19px) fluid-type(768px, 1200px, 13px, 18px);
        }

        &__card {
            padding: fluid-type(768px, 1200px, 150px, 232px) 10px fluid-type(768px, 1200px, 8px, 16px);

            &-arrow {
                display: none;
            }

            &-name {
                text-align: center;
                font-size: fluid-type(768px, 1200px, 14px, 18px);
            }

            &-image {
                width: 100%;
                height: fluid-type(768px, 1200px, 150px, 232px);
                padding: 10px 20px;
            }

            &-body {
                justify-content: center;
            }

            &-tag {
                display: flex;
                top: fluid-type(768px, 1200px, 7px, 11px);
                right: fluid-type(768px, 1200px, 7px, 11px);
                position: absolute;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        &__grid {
            gap: fluid-type(1200px, 1440px, 19px, 24px) fluid-type(1200px, 1440px, 18px, 24px);
        }

        &__card {
            min-height: fluid-type(1200px, 1440px, 291px, 380px);
            padding: fluid-type(1200px, 1440px, 232px, 304px) fluid-type(1200px, 1440px, 10px, 20px) fluid-type(1200px, 1440px, 16px, 26px);

            &-name {
                font-size: fluid-type(1200px, 1440px, 18px, 22px);
                line-height: fluid-type(1200px, 1440px, 110%, 115%);
            }

            &-image {
                width: 100%;
                height: fluid-type(1200px, 1440px, 232px, 304px);
                padding: fluid-type(1200px, 1440px, 10px, 20px) 20px;
            }

            &-tag {
                top: fluid-type(1200px, 1440px, 11px, 15px);
                right: fluid-type(1200px, 1440px, 11px, 15px);
            }
        }
    }
}