.blog {
    padding-top: fluid-type(768px, 1200px, 32px, 41px);

    &__title {
        font-weight: 800;
        font-size: fluid-type(768px, 1200px, 25px, 32px);
        line-height: 100%;
        margin-bottom: fluid-type(1200px, 1440px, 24px, 32px);
        margin-top: 0;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 18px;;
    }

    &__item {
        min-width: 0;
    }

    &__more {
        display: flex;
        justify-content: center;
        margin-top: fluid-type(375px, 768px, 24px, 26px);

        &-btn {
            padding: 18px 32px;
            font-size: 14px;
        }
    }

    @media screen and (min-width: 768px) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
            gap: fluid-type(768px, 1200px, 14px, 18px);
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: fluid-type(1200px, 1440px, 41px, 50px);

        &__title {
            font-size: fluid-type(1200px, 1440px, 32px, 40px);
        }

        &__list {
            grid-template-columns: repeat(3, 1fr);
            gap: fluid-type(1200px, 1440px, 18px, 24px);
        }
    }
}
