.breadcrumbs {
    display: none;
    margin-bottom: fluid-type(1200px, 1440px, 7px, 11px);
    
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: var(--color-gray-mid);

        &:not(:last-child)::after {
            content: ' / ';
            color: var(--color-gray-mid);
            margin: 0 4px;
        }

        &:last-child::after {
            content: '';
        }
    }
    
    @media (min-width: 1200px) {
        display: flex;
    }
}
