.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 160px;
    padding: 18px;
    width: max-content;
    font-size: fluid-type(320px, 768px, 12px, 14px);

    &--primary {
        background: var(--gradient-black);
        color: var(--color-white);
        border-color: var(--gradient-black);

        &:hover {
            color: var(--color-white);
        }
    }

    &__icon {
        display: flex;
        flex-shrink: 0;
    }

    &--white {
        background: var(--color-white);
        border-color: var(--color-white);
        color: var(--color-black);

        &:hover {
            color: var(--color-black);
        }

        &--border {
            border-color: var(--color-black);
            background: transparent;
        }
    }
    
    @media screen and (min-width: 768px) {
        min-width: 155px;
        padding: 17px;
    }

    @media screen and (min-width: 1200px) {
        min-width: fluid-type(1200px, 1440px, 129px, 180px);
        font-size: fluid-type(1200px, 1440px, 12px, 14px);
        padding: fluid-type(1200px, 1440px, 13px, 17px);
    }
}
