.home-products {
    &__slider {
        --slider-gap: fluid-type(320px, 768px, 16px, 30px);
    }

    &__track {
        row-gap: fluid-type(320px, 768px, 25px, 31px);
    }

    @media (min-width: 1200px) {
        --slider-gap: fluid-type(1200px, 1440px, 20px, 24px);

        &__slider {
            --slider-slide: calc((100% - 3 * var(--slider-gap)) / 4);
        }

        &__arrows {
            margin-top: 0;

            &--mb {
                display: none;
            }

            &--pc {
                display: flex;
            }
        }
    }
}
