@define-mixin scroll-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: var(--color-purple) transparent;

    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: var(--color-gray-pale);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-purple);
        border-radius: 4px;
    }
}
