.loyalty-how {
    &__title {
        line-height: 130%;
        margin-bottom: fluid-type(375px, 768px, 18px, 24px);

        @media screen and (min-width: 1200px) {
            margin-bottom: fluid-type(1200px, 1440px, 24px, 40px);
        }
    }

    &__steps {
        display: grid;
        gap: fluid-type(1200px, 1440px, 10px, 23px);

        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__step {
        background: var(--color-white);
        border-radius: 5px;
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
        display: grid;
        gap: 16px;
        padding: fluid-type(375px, 768px, 24px, 30px) fluid-type(375px, 768px, 24px, 30px) 30px;

        @media screen and (min-width: 768px) {
            &:nth-child(odd) {
                &:last-child {
                    grid-column: span 2;
                }
            }

            &:not(:last-child){
                --loyalty-how-step-width: 261px;
            }
        }
        @media screen and (min-width: 1200px) {
            &:nth-child(odd) {
                &:last-child {
                    grid-column: auto;
                }
            }

            --loyalty-how-step-width: fluid-type(1200px, 1440px, 261px, 302px);
        }
    }

    &__step-icon {
        display: flex;
        align-items: center;
        margin-bottom: fluid-type(375px, 768px, 0px, 8px);
        
        svg {
            width: fluid-type(375px, 768px, 40px, 50px);
        }


        @media screen and (min-width: 1200px) {
            margin-bottom: fluid-type(1200px, 1440px, 8px, 19px);
            
            svg {
                width: fluid-type(1200px, 1440px, 50px, 80px);
            }
        }
    }

    &__step-title {
        font-weight: 800;
        font-size: fluid-type(375px, 768px, 20px, 24px);
        line-height: 1;

        @media screen and (min-width: 1200px) {
            font-size: fluid-type(1200px, 1440px, 24px, 32px);
        }
    }

    &__step-text {
        font-size: fluid-type(1200px, 1440px, 16px, 18px);
        line-height: 130%;
        max-width: var(--loyalty-how-step-width, 100%);
    }
}
