.returns {
    padding-top: fluid-type(375px, 768px, 30px, 50px);

    &__title {
        font-family: var(--font-manrope);
        font-weight: 800;
        font-size: fluid-type(375px, 768px, 25px, 25px);
        line-height: 100%;
        color: var(--color-black);
        margin-bottom: fluid-type(375px, 768px, 30px, 40px);
    }

    &__subtitle {
        font-family: var(--font-manrope);
        font-weight: 800;
        font-size: fluid-type(375px, 768px, 25px, 25px);
        line-height: fluid-type(375px, 768px, 32.5px, 32.5px);
        color: var(--color-black);
        margin-top: fluid-type(375px, 768px, 30px, 40px);
        margin-bottom: fluid-type(375px, 768px, 16px, 20px);
    }

    &__text {
        font-family: var(--font-manrope);
        font-weight: 400;
        font-size: fluid-type(375px, 768px, 16px, 16px);
        line-height: fluid-type(375px, 768px, 20.8px, 20.8px);
        color: var(--color-black);
        margin-bottom: fluid-type(375px, 768px, 20px, 24px);

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 768px) {
        padding-top: fluid-type(768px, 1200px, 50px, 70px);

        &__title {
            font-size: fluid-type(768px, 1200px, 25px, 32px);
            margin-bottom: fluid-type(768px, 1200px, 40px, 50px);
        }

        &__subtitle {
            font-size: fluid-type(768px, 1200px, 25px, 32px);
            line-height: fluid-type(768px, 1200px, 32.5px, 41.6px);
            margin-top: fluid-type(768px, 1200px, 40px, 50px);
            margin-bottom: fluid-type(768px, 1200px, 20px, 24px);
        }

        &__text {
            font-size: fluid-type(768px, 1200px, 16px, 18px);
            line-height: fluid-type(768px, 1200px, 20.8px, 23.4px);
            margin-bottom: fluid-type(768px, 1200px, 24px, 30px);
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: fluid-type(1200px, 1920px, 70px, 90px);

        &__title {
            font-weight: 700;
            font-size: fluid-type(1200px, 1920px, 32px, 40px);
            line-height: 100%;
            margin-bottom: fluid-type(1200px, 1920px, 50px, 72px);
        }

        &__subtitle {
            font-weight: 700;
            font-size: fluid-type(1200px, 1920px, 32px, 40px);
            line-height: fluid-type(1200px, 1920px, 41.6px, 48px);
            margin-top: fluid-type(1200px, 1920px, 50px, 60px);
            margin-bottom: fluid-type(1200px, 1920px, 24px, 32px);
        }

        &__text {
            font-size: fluid-type(1200px, 1920px, 18px, 18px);
            line-height: 23.4px;
            margin-bottom: fluid-type(1200px, 1920px, 30px, 40px);
        }
    }
}
