.favorites {
    padding-top: fluid-type(320px, 768px, 30px, 50px);
    padding-bottom: fluid-type(320px, 768px, 60px, 100px);

    &__breadcrumbs {
        display: none;
    }

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: fluid-type(320px, 768px, 24px, 40px);
    }

    &__title {
        font-family: var(--font-manrope);
        font-weight: 800;
        font-size: fluid-type(320px, 1920px, 25px, 40px);
        line-height: 110%;
        color: var(--color-black);
        margin-bottom: fluid-type(320px, 768px, 8px, 12px);
    }

    &__count {
        font-family: var(--font-manrope);
        font-weight: 500;
        font-size: fluid-type(320px, 1920px, 14px, 16px);
        line-height: 140%;
        color: var(--color-black);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: fluid-type(375px, 768px, 25px, 30px) fluid-type(375px, 768px, 18px, 36px);
    }

    @media screen and (min-width: 1200px) {
        padding-top: fluid-type(1200px, 1920px, 50px, 70px);
        padding-bottom: fluid-type(1200px, 1920px, 100px, 140px);

        &__breadcrumbs {
            display: block;
            margin-bottom: fluid-type(1200px, 1920px, 20px, 30px);
        }

        &__grid {
            grid-template-columns: repeat(4, 1fr);
            gap: fluid-type(1200px, 1920px, 32px, 36px) fluid-type(1200px, 1920px, 20px, 24px);
        }
    }
}
