.favorites {
    padding-top: fluid-type(375px, 768px, 24px, 32px);

    &__breadcrumbs {
        display: none;
    }

    &__header {
        display: flex;
        flex-direction: column;
        margin: 0 0 fluid-type(320px, 768px, 24px, 32px);
    }

    &__title {
        font-weight: 800;
        font-size: fluid-type(320px, 1440px, 25px, 40px);
        line-height: 110%;
        margin-bottom: fluid-type(320px, 768px, 8px, 12px);
        margin-top: 0;
    }

    &__count {
        font-weight: 500;
        font-size: fluid-type(320px, 1440px, 14px, 16px);
        line-height: 140%;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: fluid-type(375px, 768px, 25px, 30px) fluid-type(375px, 768px, 18px, 36px);
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: fluid-type(375px, 768px, 24px, 32px);
        
        &__breadcrumbs {
            display: block;
            margin-bottom: 12px;
        }

        &__title {
            margin: 0 0 fluid-type(1200px, 1440px, 20px, 24px);
        }

        &__header {
             margin: 0 0 fluid-type(1200px, 1440px, 32px, 40px);
        }
        
        &__grid {
            grid-template-columns: repeat(4, 1fr);
            gap: fluid-type(1200px, 1440px, 32px, 36px) fluid-type(1200px, 1440px, 20px, 24px);
        }
    }
}
