.profile-orders {
    padding-top: fluid-type(375px, 768px, 50px, 36px);

    &__title {
        margin: 0 0 fluid-type(375px, 768px, 24px, 12px);
        font-size: fluid-type(1200px, 1440px, 24px, 32px);
    }

    &__list {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: fluid-type(1200px, 1440px, 10px, 24px);

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 1200px) {
    .profile-orders {

        .container {
            padding: 0;
        }
        
        padding-top: fluid-type(1200px, 1440px, 32px, 40px);

        &__title {
            font-size: fluid-type(1200px, 1440px, 24px, 28px);
            margin-bottom: fluid-type(1200px, 1440px, 20px, 24px);
        }
    }
}
