.product-grid {
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (min-width: 1100px) {
    .product-grid {
        &__list {
            grid-template-columns: repeat(3, 342px);
            gap: 24px;
        }
    }
}
