.product-grid {
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: fluid-type(375px, 768px, 25px, 30px) fluid-type(375px, 768px, 18px, 30px);
    }
}


@media (min-width: 1200px) {
    .product-grid {
        &__list {
            grid-template-columns: repeat(3, 1fr);
            gap: fluid-type(1200px, 1920px, 32px, 36px) fluid-type(1200px, 1920px, 20px, 24px);
        }
    }

    .catalog-page {
        &__body {
            display: grid;
            gap: fluid-type(1200px, 1440px, 30px, 40px);
            grid-template-columns: auto minmax(0, 1fr);
        }
    }
}
