/* ── Home news section ────────────────────────────── */
.home-news {
    /* ── Slider ──────────────────────────────────────── */
    &__slider {
        --slider-gap: fluid-type(768px, 1200px, 14px, 18px);
    }

    &__arrows {
        margin-top: 0;
    }
    
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        margin-top: fluid-type(1200px, 1440px, 20px, 26px);
    }

    &__arrows--top {
        display: none;
    }

    @media (min-width: 768px) {
        &__slider {
            --slider-slide: calc((100% - var(--slider-gap)) / 2);
        }

        &__arrows--bottom {
            gap: 14px;
        }
    }

    @media (min-width: 1200px) {
        &__slider {
            --slider-gap: fluid-type(1200px, 1440px, 18px, 24px);
        }

        &__title {
            font-weight: 800;
        }

        &__arrows {
            display: none;

            &--top {
                display: flex;
                gap: 10px;
            }
        }

        &__footer {
            justify-content: center;
        }
    }
}
